<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://nj.baidupcs.com/file/1e9a92eb0f93a83d7549ab11e01a6982?fid=1278424539-250528-607810651998993&time=1404818157&sign=FDTAXER-DCb740ccc5511e5e8fedcff06b081203-J8PwdWTrmZcr2UEbqt83F2CmxJE%3D&to=nb&fm=N,B,T,t&newver=1&expires=1404818757&rt=sh&r=476445103&logid=4241049387&sh=1&vuk=1278424539&fn=crmZztx.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zztx.CRM</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>指掌天下</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
