<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://nb.baidupcs.com/file/35d8e54c01e3f6f046e446f4e22d0372?fid=340011359-250528-721056902800553&time=1412838381&sign=FDTAXER-DCb740ccc5511e5e8fedcff06b081203-DYM4CGxdcp1nq98WIKmLZougZFc%3D&to=nbb&fm=Nin,B,T,t&newver=1&newfm=1&flow_ver=3&expires=8h&rt=sh&r=949763621&mlogid=891879428&vuk=340011359&vbdid=2838261262</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zztx.CRM</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>指掌天下</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
